.*.swp
*.ncb
envmap/Debug/*.obj
envmap/Debug/*.exe
envmap/Debug/*.ilk
envmap/Debug/*.idb
envmap/Debug/*.pdb
envmap/Debug/*.map
envmap/Debug/*.dep
envmap/Debug/*.htm
envmap/*.ncb
envmap/*.sln
envmap/*.suo
envmap/*.vcproj.*
